goapp=`which goapp 2>&1`
if [[ ! "${?}" = "0" ]]; then
	echo "Need to install `goapp` to execute this script."
	exit 127
fi

APPENGINE_SDK="`dirname $goapp`/goroot"

export GOROOT="${APPENGINE_SDK}"
export GOPATH="`pwd`"
export GOBIN="${GOPATH}/bin"

export PATH=${PATH}:${GOBIN}
